* {
    font-family: arial, sans-serif;
}
span :link {
    text-decoration: none;
    color: #757575;
}
#nav {
	padding: 0; margin: 0;
	text-align: right;
    margin-top: 1em;
}
#nav li {
	display: inline;
	list-style-type: none;
}
#nav a {
	display:inline-block;
	margin: 0 20px;
    text-decoration: none;
    color: #757575;
    font-size: 0.9em;
}
#logogoogle {
    width: 25%;
    margin-top: 7%;
    margin-bottom: 3%;
}
input {
    width: 40%;
    font-size: 1em;
    padding: 0.3em;
}
.searchbtn {
    background-color: WhiteSmoke ;
    border: 1px solid #F2F2F2;
    border-radius: 0.21em;
    padding: 0.2em;
    margin: 1%;
    color: #F2F2F2;
    text-decoration: none;
    clear: both;
    }
    nav {
        margin-top: 30%;
        float: left;
    }
    nav ul {
        list-style-type: none;
    }
    nav ul li a {
        background-color: #F2F2F2;
        font-style: italic;
        color: #757575;
        display: block;
        margin-bottom: 0.2em;
        width: 110%;
        padding: 0.5em;
        text-decoration: none;
    }
    img {
        margin-top: 0.5%;
        margin-left: 0.5%;
    }
@media screen and (min-width: 768px) {
    nav ul li a{
        width: auto;
        background-color: #F2F2F2;
        display: inline;
        display: inline-block;
    }
    nav {
        margin-bottom: 0;
    }
    container {
        clear: both;
    }
}
