* {
    font-family: arial, sans-serif;
}
span :link {
    text-decoration: none;
    color: #757575;
}
#nav {
	padding: 0; margin: 0;
    margin-top: 1em;
}
#nav li {
	list-style-type: none;
}
#nav a {
	margin: 0 20px;
    text-decoration: none;
    color: #757575;
    font-size: 0.9em;
}
#logogoogle {
    width: 25%;
    margin-top: 7%;
    margin-bottom: 3%;
}
input {
    width: 40%;
    font-size: 1em;
    padding: 0.3em;
}
.searchbtn {
    background-color: WhiteSmoke ;
    border: 1px solid #F2F2F2;
    border-radius: 0.21em;
    padding: 0.2em;
    margin: 1%;
    color: #757575;
    text-decoration: none;
    }
footer {
    background-color: #F2F2F2;
    text-decoration: none;
    font-size: small;
    margin-top: 18%;
}
